.card p {
	margin-top: -10px;
	margin-bottom: 1px;
}
.row .card:hover{
	box-shadow: 5px 5px 5px rgba(1,0,0,0.4);
	transform: scale(1.05);
}

footer{
	background-color: black;
	color: #fff;
	padding: 10px 200px;
}

footer > h3{
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

footer > .contact{
	display: inline-block;
}

footer > .contact > p{
	float: left;
	margin: 0;
	margin-right: 30px;
}

footer > .contact > .text-call{
	font-size: 18px;
	font-weight: bold;
}

footer > .kebijakan{
	margin-top: 10px;
	color: #919191;
	font-size: 14px;
}